<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/courses.css"/>
    <script src="https://js.paystack.co/v1/inline.js"></script>
</head>
<body>
  
  <div class="payment-popup" style="display: none;">
    <button class="close-btn" onclick="closePaymentPopup()">X</button>
    <h2>Unlock Content</h2>
    <p>Please pay to unlock this content.</p>
    <form id="payment-form">
      <input type="text" name="email" placeholder="Email Address">
      <input type="number" name="amount" placeholder="Amount">
      <button type="submit" onclick="makePayment()">Pay Now</button>
    </form>
  </div>

  <div id="Header"></div>
  <div class="Main">  
  <p class="title"><%= course.title %></p>
  <!-- <p><%= course.description %></p> -->
  <div class="video-container">
      <iframe src="<%= course.video.replace('watch?v=', 'embed/') %>" width="100%" height="100%" allowfullscreen frameborder="0" class="video-wrapper"></iframe>
      
      <button onclick="showPaymentPopup()" class= "video-overlay">Click to Unlock</button>
    </div>
  <p>Rating : <%= course.rating %></p>
  <p><%= course.fullDescription %></p>
  <p><a href="/">Back to Course List</a></p>
    </div>
    
  
  <div id="Footer"></div>


  <script src="/layout.js"></script>
  <script>
    function showPaymentPopup() {
      const popup = document.querySelector('.payment-popup');
      popup.style.display = 'block';
    }

    function makePayment() {
      const email = document.querySelector('input[name="email"]').value;
      const amount = document.querySelector('input[name="amount"]').value;
      const payment = new Paystack({
        key: 'sk_live_4f8ffdda0876a8d7679316f7942acc9f36cbc1b7',
        email: email,
        amount: amount,
      });
      payment.open();
    }

    function closePaymentPopup() {
      const popup = document.querySelector('.payment-popup');
      popup.style.display = 'none';
    }

    // Check if payment has been made on page load
    window.onload = function() {
      if (sessionStorage.getItem('paymentMade') === 'true') {
        document.querySelector('.video-overlay').style.display = 'none';
        document.querySelector('.payment-popup').style.display = 'none';
      }
    }
  </script>
</body>
</html>