<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Course Control</title>
     <link rel="stylesheet" href="index.css" />
</head>
<body>
    <!-- <div id="overlay">
        
      <form class="myForm">
        <label id="label-username" for="username">Username:</label>
        <input type="text" id="username" placeholder="Username must be between 3-20 characters" required>
        <p id="username-error"></p>
        
        <label id="label-email" for="email">Email:</label>
        <input type="email" id="email" required>
        <p id="email-error"></p>
        
        <label id="label-password" for="password">Password:</label>
        <input type="password" id="password" placeholder="Password must be 5-20 characters" required>
        <p id="password-error"></p>
        
        <button id="submit-btn" onclick="saveData(event);">Save</button>
      </form>
    </div> -->


 <div id="Header"></div>
        

 <div class="container">
  <% for (let i = 0; i < course.length; i++) { %>
    <div class="card">
      <img src="<%=course[i].background_img%>" alt="" />
      <!-- <a href="Courses.html?course=<%= course[i].title %>"><%= course[i].title %></a> -->
      <a href="/courses/<%= course[i].titleID%>"><%= course[i].title %></a>
      <p><%= course[i].description %></p>
    </div>
  <% } %>
 </div>


 <div id="Footer"></div>

    <!-- Your page content -->

    <script src="layout.js"></script>
    <script src="index.js"></script>
    
</body>
</html>
