<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Course Control</title>
     <link rel="stylesheet" href="index.css" />
</head>
<body>
    


 <div id="Header"></div>
        





<!-- <div class="wrapper">
  <h2 id="form-title">Register To Get Started!</h2>
  <p id="error-message"></p>

  
  <form id="signup-form">
    <div>
      <input type="text" name="username" placeholder="Username" id="signup-username" />
    </div>
    <div>
      <input type="text" name="email" placeholder="Email" id="signup-email" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" id="signup-password" />
    </div>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>

  Login Form (initially hidden)
  <form id="login-form" style="display: none;">
    <div>
      <input type="text" name="email" placeholder="Email" id="login-email" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" id="login-password" />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>

  Toggle Link
  <div class="toggle">
    <p id="toggle-text">Already signed up?</p>
    <a href="#" id="toggle-link">Login</a>
  </div>
</div> -->


 
 <div class="container">
  <% for (let i = 0; i < course.length; i++) { %>
    <div class="card">
      <img src="<%=course[i].background_img%>" alt="" />
      <!-- <a href="Courses.html?course=<%= course[i].title %>"><%= course[i].title %></a> -->
      <a href="/courses/<%= course[i].titleID%>"><%= course[i].title %></a>
      <p><%= course[i].description %></p>
    </div>
  <% } %>
 </div>


 <div id="Footer"></div>

    <!-- Your page content -->

    <script src="index.js"></script>
    
    <script src="layout.js"></script>
    
</body>
</html>
